<!-- Create .env file in your system and add this -->

<!--DB Configuration as per your system -->
DB_NAME='database-name' 
DB_USER='database-user'
DB_PASSWORD='database-password'
DB_HOST='database-host'

<!--Email Configuration-->
EMAIL_HOST_USER='email-id'
EMAIL_HOST_PASSWORD='email-password'

<!-- Your Google API Key-->
GOOGLE_API_KEY='google-api-key'