<div class="user-account-nav user-account-sidebar">
    <div class="user-nav-list">
        <ul>
            <li class="active"><a href="restaurant-dashboard.html"><i class="icon-dashboard3"></i>Dashboard</a></li>
            <!-- <li><a href="{% url 'myOrders' %}"><i class="icon-add_shopping_cart"></i>My Orders</a></li>
            <li><a href="{% url 'profile-settings' %}"><i class="icon-build"></i>Profile Settings</a></li>
            <li><a href="{% url 'changepassword' %}"><i class="icon-unlock-alt"></i>Change Password</a></li>
            <li><a class="logout-btn" href="{% url 'logout' %}"><i class="icon-log-out"></i>Signout</a></li> -->
        </ul>
    </div>
</div>